[Unit]
Description=flood-detector
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u main.py init
WorkingDirectory=/home/pi/NB-IOT
StandardOutput=append:/home/pi/NB-IOT/output.log
StandardError=append:/home/pi/NB-IOT/output.log
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
